<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Application Test Suit">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="MAIL_DRIVER" value="array"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="FILESYSTEM_DRIVER" value="test"/>
        <env name="MAIL_INTERCEPT" value="false"/>
    </php>
    <logging>
        <log type="coverage-html" target="./storage/test-report" charset="UTF-8" yui="true" highlight="false" lowUpperBound="50" highLowerBound="80" />
        <log type="coverage-clover" target="./storage/test-report/coverage.xml"/>
        <log type="coverage-xml" target="./storage/test-report/coverage2.xml"/>
        <log type="junit" target="./storage/test-report/junit.xml"/>
        <log type="coverage-php" target="./storage/test-report/coverage-php.php"/>
        <log type="testdox-xml" target="./storage/test-report/testdox-xml.xml"/>
        <log type="test" target="./storage/test-report/test.xml"/>
    </logging>
</phpunit>
